@font-face {
  font-family: "Barlow";
  font-display: swap;
  src: url("../fonts/Barlow-Bold.woff") format("woff"), url("../fonts/Barlow-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Barlow";
  font-display: swap;
  src: url("../fonts/Barlow-Regular.woff") format("woff"), url("../fonts/Barlow-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Barlow";
  font-display: swap;
  src: url("../fonts/Barlow-SemiBold.woff") format("woff"), url("../fonts/Barlow-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SFProDisplay";
  font-display: swap;
  src: url("../fonts/SFProDisplay-Bold.woff") format("woff"), url("../fonts/SFProDisplay-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SFProDisplay";
  font-display: swap;
  src: url("../fonts/SFProDisplay-Medium.woff") format("woff"), url("../fonts/SFProDisplay-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SFProDisplay";
  font-display: swap;
  src: url("../fonts/SFProDisplay-Regular.woff") format("woff"), url("../fonts/SFProDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SFProDisplay";
  font-display: swap;
  src: url("../fonts/SFProDisplay-Semibold.woff") format("woff"), url("../fonts/SFProDisplay-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]::before,
[class*="icon-"]::before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]::before,
[class*="icon-"]::before {
  display: block;
}

.icon-arrow-down:before {
  content: "\e900";
}

.icon-arrow-more:before {
  content: "\e901";
}

.icon-cart:before {
  content: "\e902";
}

.icon-checkbox:before {
  content: "\e903";
}

.icon-facebook:before {
  content: "\e904";
}

.icon-grid:before {
  content: "\e905";
}

.icon-heart:before {
  content: "\e906";
}

.icon-heart-blue:before {
  content: "\e907";
}

.icon-instagram:before {
  content: "\e908";
}

.icon-map:before {
  content: "\e909";
}

.icon-rating:before {
  content: "\e90a";
}

.icon-row:before {
  content: "\e90b";
}

.icon-search:before {
  content: "\e90c";
}

.icon-slider-arrow-left:before {
  content: "\e90d";
}

.icon-slider-arrow-right:before {
  content: "\e90e";
}

.icon-user:before {
  content: "\e90f";
}

.icon-vk:before {
  content: "\e910";
}

.icon-youtube:before {
  content: "\e911";
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

a:visited,
a:hover {
  text-decoration: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  min-width: 320px;
  height: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  background-color: transparent;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "SFProDisplay";
  font-size: 20px;
  color: #2f3035;
}

body.lock {
  overflow: hidden;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.ibg {
  position: relative;
}

.ibg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.title {
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 25px;
}

.footer-title {
  line-height: 114.28571%;
  font-size: 14px;
  font-weight: 700;
}

.swiper {
  overflow: hidden;
}

.swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper.swiper-container-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.swiper.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.header {
  margin-bottom: 80px;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 120px;
}

.menu__item {
  display: inline-block;
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu__link {
  position: relative;
  font-weight: 700;
}

.menu__link::before {
  content: "";
  position: absolute;
  width: 0;
  left: 50%;
  bottom: -5px;
  height: 2px;
  background-color: #2f3035;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80px;
          flex: 0 0 80px;
}

.logo img {
  max-width: 100%;
}

.actions-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.actions-header__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  position: relative;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-right: 85px;
  line-height: 120%;
}

.actions-header__address::before {
  position: absolute;
  font-size: 30px;
  color: #000;
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.user-header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
  grid-template-columns: auto;
  grid-auto-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.user-header__item {
  font-size: 24px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.user-header__cart {
  font-size: 30px;
  position: relative;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  margin-right: 20px;
}

.user-header__cart span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  right: -15px;
  bottom: -5px;
  position: absolute;
  background-color: #1c62cd;
  font-size: 12px;
  color: #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 10px;
}

.hamburger {
  display: none;
}

.menu-categories.active {
  left: 0;
}

.menu-categories__link {
  position: relative;
}

.menu-categories__link::before {
  content: "";
  position: absolute;
  width: 0;
  left: 50%;
  bottom: -88%;
  height: 3px;
  background-color: #1c62cd;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.hero {
  margin-bottom: 80px;
}

.hero__slider {
  min-width: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 74.35897%;
          flex: 0 0 74.35897%;
}

.hero__element {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 265px;
          flex: 0 0 265px;
}

.slider-hero {
  position: relative;
}

.slider-hero__image {
  padding-bottom: 45%;
  min-height: 164px;
}

.slider-hero__arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 27px;
  color: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 2;
}

.slider-hero__arrow_prev {
  left: 20px;
}

.slider-hero__arrow_next {
  right: 20px;
}

.slider-hero__dotts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: calc(15px + 25 * ((100vw -320px) / 1600));
  z-index: 2;
}

.slider-hero__dotts .swiper-pagination-bullet {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 11px;
          flex: 0 0 11px;
  width: 11px;
  height: 11px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  background-color: transparent;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  margin: 0 4px;
}

.slider-hero__dotts .swiper-pagination-bullet-active {
  background-color: #fff;
}

.element-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  text-align: center;
}

.element-hero__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.element-hero__sale {
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 20px;
  min-height: 30px;
  background-color: #1c62cd;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
  letter-spacing: 0.1em;
}

.element-hero__prices {
  font-family: "Barlow";
  text-align: right;
  padding: 7px 7px 0 0;
}

.element-hero__new {
  font-weight: bold;
  margin-bottom: 7px;
  color: #1c62cd;
  margin-bottom: 5px;
  font-size: 27px;
}

.element-hero__old {
  font-size: 14px;
  line-height: 121.42857%;
  color: #c4c4c4;
  background: url("../images/old-price.svg") 47px center no-repeat;
}

.element-hero__content {
  padding: 0 10px;
}

.element-hero__image {
  width: 125px;
  min-height: 176px;
  padding-bottom: 30%;
}

.element-hero__image img {
  -o-object-fit: contain;
     object-fit: contain;
}

.element-hero__name {
  font-weight: bold;
  line-height: 116.66667%;
  font-size: 18px;
  margin-bottom: 5px;
}

.element-hero__bottom {
  padding: 25px 10px;
  background: #f0f0f4;
  border-radius: 3px;
}

.element-hero__info {
  margin-bottom: 5px;
  font-size: 18px;
}

.element-hero__date {
  font-weight: bold;
  font-size: 18px;
  font-family: "Barlow";
  color: #1c62cd;
}

.search {
  margin-bottom: 80px;
}

.search__nav {
  margin-bottom: 25px;
}

.search__btn {
  padding: 12px 25px;
  font-size: 20px;
}

.search__btn.active {
  background: #f0f0f4;
  border-radius: 5px;
  font-weight: 700;
}

.search__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background: #f0f0f4;
  border-radius: 3px;
  min-height: 50px;
  padding: 0 20px;
  font-size: 16px;
}

.search__input::-webkit-input-placeholder {
  color: #656464;
}

.search__input::-moz-placeholder {
  color: #656464;
}

.search__input:-ms-input-placeholder {
  color: #656464;
}

.search__input::-ms-input-placeholder {
  color: #656464;
}

.search__input::placeholder {
  color: #656464;
}

.search__button {
  background: #1c62cd;
  border-radius: 3px;
  padding: 0 39px;
  min-height: 50px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.12em;
  color: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.category {
  margin-bottom: 80px;
}

.category__body {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  gap: 30px;
}

.item-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  padding: 20px;
  padding-bottom: 15px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.item-category__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.item-category__title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-weight: 700;
  font-weight: bold;
  line-height: 121.73913%;
  font-size: 23px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.item-category__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 121.42857%;
  color: #c4c4c4;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.item-category__link::before {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  color: #c4c4c4;
  font-size: 9px;
  margin-left: 3px;
}

.item-category__image {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-bottom: 30%;
  text-align: center;
  -ms-flex-preferred-size: calc(100px + 107 * ((100vw -320px) / 1600));
      flex-basis: calc(100px + 107 * ((100vw -320px) / 1600));
}

.item-category__image img {
  -o-object-fit: contain;
     object-fit: contain;
}

.products {
  margin-bottom: 80px;
}

.products__nav {
  margin-bottom: 25px;
}

.products__btn {
  font-size: 15px;
  padding-bottom: 10px;
  margin: 4px 0px;
}

.products__btn:not(:last-child) {
  margin-right: 50px;
}

.products__btn.active {
  font-weight: 500;
  border-bottom: 2px solid #1c62cd;
}

.products__slider {
  position: relative;
}

.products__more {
  text-align: center;
  margin-top: 35px;
}

.products__button {
  min-height: 50px;
  background: #f0f0f4;
  padding: 0 43px;
  font-size: 15px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.slider-products__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slider-products__arrows {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  right: 0;
}

.slider-products__arrow {
  position: absolute;
  font-size: 27px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.slider-products__arrow_prev {
  left: -40px;
}

.slider-products__arrow_next {
  right: -40px;
}

.product {
  position: relative;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  text-align: center;
  min-height: 403px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 20px 30px 20px;
}

.product__favorite {
  position: absolute;
  width: 24px;
  height: 22px;
  z-index: 100;
  top: 16px;
  right: 19px;
  background: url("../images/favorite.svg") 0 0 no-repeat;
}

.product__favorite.active {
  background: url("../images/favorite-blue.svg") 0 0 no-repeat;
}

.product__image {
  padding-bottom: 30%;
  min-height: 200px;
  margin-bottom: 15px;
}

.product__image img {
  -o-object-fit: contain;
     object-fit: contain;
}

.product__name {
  font-size: 20px;
  line-height: 120%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.product__price {
  font-family: "Barlow";
  font-weight: bold;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 30px;
}

.product__info {
  display: none;
}

.product__unavailable {
  font-size: 18px;
  font-weight: 700;
}

.product__link {
  position: relative;
  font-size: 16px;
  color: #1c62cd;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  padding-bottom: 3px;
}

.product__link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  background-color: #1c62cd;
  left: 50%;
  bottom: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.product__cart {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
  background: #1c62cd;
  border-radius: 10px 0px 0px 0px;
  min-width: 60px;
  min-height: 40px;
}

.product__cart::before {
  font-size: 30px;
  color: #fff;
}

.sale::after {
  content: "SALE";
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #1c62cd;
  min-height: 25px;
  padding: 0 15px;
  font-size: 12px;
  letter-spacing: 0.07em;
  color: #ffffff;
}

.unavailable {
  padding-bottom: 20px;
}

.unavailable .product__price {
  display: none;
}

.unavailable .product__cart {
  display: none;
}

.unavailable .product__info {
  display: block;
}

.unavailable .product__link {
  margin-top: 13px;
}

.banner {
  margin-bottom: 80px;
}

.banner__image {
  width: 100%;
  min-height: 90px;
  padding-bottom: 14%;
}

.footer {
  padding: 30px 0;
  background: #f0f0f4;
}

.footer__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 294px 1fr 210px;
  grid-template-columns: 294px 1fr 210px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 100px;
     -moz-column-gap: 100px;
          column-gap: 100px;
}

.footer__main {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.footer__title {
  cursor: default;
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 35px;
}

.footer__input {
  min-height: 33px;
  padding: 0 12px;
  width: 100%;
  font-size: 14px;
}

.footer__input::-webkit-input-placeholder {
  color: #c4c4c4;
}

.footer__input::-moz-placeholder {
  color: #c4c4c4;
}

.footer__input:-ms-input-placeholder {
  color: #c4c4c4;
}

.footer__input::-ms-input-placeholder {
  color: #c4c4c4;
}

.footer__input::placeholder {
  color: #c4c4c4;
}

.footer__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 16px;
  min-height: 33px;
  background-color: #1c62cd;
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.12em;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 45px;
}

.footer__info {
  font-size: 10px;
  line-height: 120%;
  color: #48494d;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.footer__info:not(:last-child) {
  margin-right: 80px;
}

.menu-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.menu-footer__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.menu-footer__title {
  cursor: default;
  margin-bottom: 4px;
}

.menu-footer__item:not(:last-child) {
  margin-bottom: 4px;
}

.menu-footer__link {
  font-size: 14px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.socials-footer__list {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
}

.socials-footer__link {
  font-size: 30px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

@media (min-width: 767.98px) {
  .menu-categories__list {
    background: #f0f0f4;
    min-height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 991.98px) {
  .actions-header__address span {
    position: relative;
  }

  .actions-header__address span::after {
    content: "";
    position: absolute;
    width: 0;
    left: 50%;
    bottom: -5px;
    height: 2px;
    background-color: #2f3035;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }

  .actions-header__address {
    padding-left: 30px;
  }

  .hero__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .footer__info:first-child {
    padding-left: 85px;
  }
}

@media (min-width: 991.98px) and (any-hover: hover) {
  .actions-header__address span:hover::after {
    width: 100%;
    left: 0;
  }
}

@media (min-width: 1212px) {
  .menu-footer {
    padding-left: 60px;
  }
}

@media (max-width: 1212px) {
  .hero__slider {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 675px;
            flex: 0 0 675px;
  }

  .element-hero__image {
    min-height: 130px;
  }

  .element-hero__bottom {
    padding: 15px 10px;
  }

  .slider-products__arrow_prev {
    left: 20px;
  }

  .slider-products__arrow_next {
    right: 20px;
  }
}

@media (max-width: 1200px) {
  .title {
    font-size: calc(21px + 4 * ((100vw - 320px) / 880));
  }

  .title {
    margin-bottom: calc(15px + 10 * ((100vw - 320px) / 880));
  }

  .header {
    margin-bottom: calc(40px + 40 * ((100vw - 320px) / 880));
  }

  .menu__item:not(:last-child) {
    margin-right: calc(0px + 50 * ((100vw - 320px) / 880));
  }

  .actions-header__address {
    margin-right: calc(0px + 85 * ((100vw - 320px) / 880));
  }

  .user-header__cart {
    margin-right: calc(5px + 15 * ((100vw - 320px) / 880));
  }

  .hero {
    margin-bottom: calc(40px + 40 * ((100vw - 320px) / 880));
  }

  .element-hero__new {
    font-size: calc(22px + 5 * ((100vw - 320px) / 880));
  }

  .element-hero__name {
    font-size: calc(15px + 3 * ((100vw - 320px) / 880));
  }

  .search {
    margin-bottom: calc(40px + 40 * ((100vw - 320px) / 880));
  }

  .category {
    margin-bottom: calc(40px + 40 * ((100vw - 320px) / 880));
  }

  .category__body {
    gap: calc(10px + 20 * ((100vw - 320px) / 880));
  }

  .item-category {
    padding: calc(10px + 10 * ((100vw - 320px) / 880));
  }

  .item-category {
    padding-bottom: calc(10px + 5 * ((100vw - 320px) / 880));
  }

  .item-category__title {
    font-size: calc(18px + 5 * ((100vw - 320px) / 880));
  }

  .products {
    margin-bottom: calc(40px + 40 * ((100vw - 320px) / 880));
  }

  .products__nav {
    margin-bottom: calc(15px + 10 * ((100vw - 320px) / 880));
  }

  .products__btn:not(:last-child) {
    margin-right: calc(14px + 36 * ((100vw - 320px) / 880));
  }

  .products__more {
    margin-top: calc(15px + 20 * ((100vw - 320px) / 880));
  }

  .product__favorite {
    top: calc(12px + 4 * ((100vw - 320px) / 880));
  }

  .product__favorite {
    right: calc(12px + 7 * ((100vw - 320px) / 880));
  }

  .product__name {
    font-size: calc(16px + 4 * ((100vw - 320px) / 880));
  }

  .product__price {
    font-size: calc(20px + 10 * ((100vw - 320px) / 880));
  }

  .product__unavailable {
    font-size: calc(16px + 2 * ((100vw - 320px) / 880));
  }

  .product__cart {
    min-width: calc(40px + 20 * ((100vw - 320px) / 880));
  }

  .product__cart {
    min-height: calc(20px + 20 * ((100vw - 320px) / 880));
  }

  .product__cart::before {
    font-size: calc(15px + 15 * ((100vw - 320px) / 880));
  }

  .banner {
    margin-bottom: calc(40px + 40 * ((100vw - 320px) / 880));
  }

  .footer__body {
    -webkit-column-gap: calc(0px + 100 * ((100vw - 320px) / 880));
       -moz-column-gap: calc(0px + 100 * ((100vw - 320px) / 880));
            column-gap: calc(0px + 100 * ((100vw - 320px) / 880));
  }

  .footer__form {
    margin-top: calc(15px + 20 * ((100vw - 320px) / 880));
  }

  .footer__inner {
    padding-top: calc(30px + 15 * ((100vw - 320px) / 880));
  }

  .footer__info:not(:last-child) {
    margin-right: calc(0px + 80 * ((100vw - 320px) / 880));
  }
}

@media (any-hover: none) and (max-width: 1200px) {
  .product__name {
    font-size: calc(16px + 2 * ((100vw - 320px) / 880));
  }

  .product__price {
    font-size: calc(20px + 5 * ((100vw - 320px) / 880));
  }

  .product__cart {
    min-width: calc(40px + 15 * ((100vw - 320px) / 880));
  }

  .product__cart {
    min-height: calc(20px + 15 * ((100vw - 320px) / 880));
  }
}

@media (max-width: 991.98px) {
  .header {
    font-size: 16px;
  }

  .header__body {
    min-height: 80px;
  }

  .logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60px;
            flex: 0 0 60px;
  }

  .actions-header__address {
    margin-right: 20px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }

  .actions-header__address::before {
    display: none;
  }

  .hero__slider {
    width: 100%;
    margin-bottom: 30px;
  }

  .hero__element {
    width: 265px;
  }

  .search__btn {
    font-size: 16px;
  }

  .footer__body {
    -ms-grid-columns: 1fr 210px;
    grid-template-columns: 1fr 210px;
  }

  .footer__main {
    -ms-grid-column-span: 2;
    grid-column: span 2;
    margin-bottom: 30px;
  }
}

@media (max-width: 789px) {
  .category__body {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767.98px) {
  .header__container {
    min-height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__item:not(:last-child) {
    margin-right: 30px;
  }

  .hamburger {
    display: block;
    position: relative;
    z-index: 5;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }

  .hamburger span,
  .hamburger::before,
  .hamburger::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 10%;
    background-color: #2f3035;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 100px;
  }

  .hamburger::before,
  .hamburger::after {
    content: "";
  }

  .hamburger::before {
    top: 0;
  }

  .hamburger span {
    top: 50%;
    -webkit-transform: scale(1) translateY(-50%);
        -ms-transform: scale(1) translateY(-50%);
            transform: scale(1) translateY(-50%);
  }

  .hamburger::after {
    bottom: 0;
  }

  .hamburger.active span {
    -webkit-transform: scale(0) translateY(-50%);
        -ms-transform: scale(0) translateY(-50%);
            transform: scale(0) translateY(-50%);
  }

  .hamburger.active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translateY(-50%);
        -ms-transform: rotate(-45deg) translateY(-50%);
            transform: rotate(-45deg) translateY(-50%);
  }

  .hamburger.active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translateY(50%);
        -ms-transform: rotate(45deg) translateY(50%);
            transform: rotate(45deg) translateY(50%);
  }

  .menu-categories {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #f0f0f4;
    padding: 60px 20px 20px;
    overflow: auto;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 3;
  }

  .menu-categories__item {
    text-align: center;
  }

  .menu-categories__item:not(:last-child) {
    margin-bottom: 25px;
  }

  .menu-categories__link {
    font-size: 22px;
    color: #000;
  }

  .slider-products__arrows {
    display: none;
  }
}

@media (max-width: 644px) {
  .slider-hero__arrows {
    display: none;
  }

  .search__btn {
    width: 100%;
  }

  .category__body {
    display: block;
  }

  .category__item:not(:last-child) {
    margin-bottom: 15px;
  }

  .item-category__image {
    padding-bottom: 0;
    min-height: 75px;
  }
}

@media (max-width: 554px) {
  .footer__body {
    display: block;
  }

  .footer__menu {
    margin-bottom: 30px;
  }

  .socials-footer__list {
    -ms-grid-columns: (30px)[4];
    grid-template-columns: repeat(4, 30px);
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }
}

@media (max-width: 479.98px) {
  .header__container {
    min-height: 30px;
  }

  .header__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .actions-header__address {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 0;
    margin-top: 30px;
    text-transform: uppercase;
    color: #000;
  }

  .hero__body {
    margin: 0 -15px;
  }

  .hero__element {
    margin: 0 auto;
  }

  .slider-hero__image {
    width: 100%;
  }

  .products__btn {
    font-size: 14px;
    padding-bottom: 5px;
  }

  .footer__inner {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 369px) {
  .menu__item:not(:last-child) {
    margin-right: 7px;
  }

  .search__input {
    padding: 0 12px;
    font-size: 14px;
  }

  .search__button {
    padding: 0 20px;
    font-size: 13px;
  }
}

@media (min-width: 991.98px) and (max-width: 1200px) {
  .footer__info:first-child {
    padding-left: calc(0px + 85 * ((100vw - 320px) / 880));
  }
}

@media (min-width: 1212px) and (max-width: 1200px) {
  .menu-footer {
    padding-left: calc(0px + 60 * ((100vw - 320px) / 880));
  }
}

@media (any-hover: hover) {
  .menu__link:hover::before {
    width: 100%;
    left: 0;
  }

  .actions-header__address:hover::before {
    color: #1c62cd;
  }

  .user-header__item:hover {
    color: #1c62cd;
  }

  .user-header__cart:hover {
    color: #1c62cd;
  }

  .menu-categories__link:hover::before {
    width: 100%;
    left: 0;
  }

  .slider-hero__arrow:hover {
    color: #1c62cd;
  }

  .search__button:hover {
    background: #0e4aa3;
  }

  .item-category:hover {
    border: 1px solid #fff;
    -webkit-box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
            box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
  }

  .item-category:hover .item-category__title {
    color: #1c62cd;
  }

  .item-category__link:hover {
    color: #1c62cd;
  }

  .item-category__link:hover::before {
    color: #1c62cd;
  }

  .products__button:hover {
    background: #d0d0db;
  }

  .slider-products__arrow:hover {
    color: #1c62cd;
  }

  .product:hover .product__price,
  .product:hover .product__name {
    color: #1c62cd;
  }

  .product:hover .product__button {
    opacity: 1;
    visibility: visible;
    top: 30%;
  }

  .product__link:hover::before {
    width: 100%;
    left: 0;
  }

  .product__button {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: rgba(255, 255, 255, 0.9);
    -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    min-height: 60px;
    padding: 0 10px;
    border-radius: 3px;
    text-align: center;
    min-width: 225px;
    position: absolute;
    top: 33%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 50;
  }

  .footer__button:hover {
    background: #0e4aa3;
  }

  .footer__info:hover {
    color: #1c62cd;
  }

  .menu-footer__link:hover {
    color: #1c62cd;
  }

  .socials-footer__link:hover {
    color: #1c62cd;
  }
}

@media (any-hover: none) {
  .product {
    padding: 20px 10px 30px 10px;
  }

  .product__name {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 0px;
            flex: 0 0 0;
    margin-bottom: 15px;
    font-size: 18px;
  }

  .product__price {
    font-size: 25px;
  }

  .product__button {
    text-transform: uppercase;
    margin-top: 15px;
    font-size: 15px;
    letter-spacing: 0.12em;
  }

  .product__cart {
    min-width: 55px;
    min-height: 35px;
  }

  .product__cart::before {
    font-size: 24px;
  }
}